.latest {
    display:flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--40);
}

.latest-sermon {
    text-align: center;
    width:100%
}

.sermon-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-sermon .sermon-title {
    margin: 0;
}

.sermon-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: var(--wp--preset--spacing--40);
}

.sermon-details .sermon-detail:not(:last-child)::after {
    content: "\00a0|\00a0";
}

.sermon-excerpt {
    max-width: 800px;
    margin-bottom: var(--wp--preset--spacing--40);
}

.sermon-main audio {
    width: 80vw;
    max-width: 800px;
}

.sermon-series {
    display: flex;
    /* max-width: 800px; */
    justify-content: center;
    align-items: center;
    gap: var(--wp--preset--spacing--40);
}

.sermon-series * {
    margin: 0;
}

.sermon-series-content .series-details * {
    margin-top: var(--wp--preset--spacing--20);
}

.sermon-series img {
    width: 300px;
    height: 200px;
}

/* CSS for handling cases where details need to be on new lines */
@media (max-width: 768px) {
    .sermon-details {
        display: block; /* Forces block display on smaller screens */
    }
    .sermon-details .sermon-detail:not(:last-child)::after {
        content: ""; /* Remove separator on smaller screens */
    }
    .sermon-series {
        flex-direction: column;
        align-items: center;
    }

    .sermon-series * {
        text-align: center;
    }
}

.sermon-title {
    text-align: center;
}

.sermon-single {
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--40);
    align-items: center;
    /* text-align: center; */
}

.sermon-single > * {
    margin: 0;
}